/* green background
.wp-block-wp-learn-javascript-javascript-block {
    background: #090;
    color: white;
    padding: 20px;
}

.wp-block-wp-learn-javascript-javascript-block p.block-editor-rich-text__editable {
    margin: 0;
}
 */