/* red background */
/*
.wp-block-wp-learn-javascript-javascript-block {
    background: #900;
    color: white;
    padding: 20px;
}

.wp-block-wp-learn-javascript-javascript-block p {
    margin: 0;
}
 */